<header class="<%= className %>">
    
    <nav>
        <% if(showNav){ %>
            <% if(!loggedIn) { %>
                <a href="/users/login">Login</a>
            <% }else{%>
                <a href="/albums/">Albums</a>
            <% }%>
         <% }else{%>
            <p>Welcome, <%= username %></p>
        <% }%>
    </nav>
   
    <h1><img src="/images/album-collector.svg" alt="Album Collector"></h1>
</header>