<%- include ('./partials/head.ejs') %>
<body>
    <h1>Login</h1>
 
    <form action="/users/login" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Next">
    </form>
</body>
</html>